{% extends "base.html" %}


{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <p>Rules go here.
            </p>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <p> 2nd rules go here.</p>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <a href="rtb" class="btn btn-primary">Round the Board</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <a href="finishes" class="btn btn-primary">Finishes</a>
        </div>
    </div>
        
    
    
    
</div>

{% endblock %}